// Microsoft Visual C++ generated resource script.
//
#include "../shared/Version.h"
#include "Resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//
IDR_PLUGIN_CLASS      REGISTRY                "AdBlockPlus.rgs"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSIONINFO_VERSION
 PRODUCTVERSION VERSIONINFO_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Eyeo GmbH"
            VALUE "FileDescription", "Adblock Plus BHO for Internet Explorer"
            VALUE "FileVersion", VERSIONINFO_VERSION_STR
            VALUE "InternalName", "Adblock Plus BHO"
            VALUE "LegalCopyright", "Copyright (C) 2006-2016 Eyeo GmbH"                           
            VALUE "OriginalFilename", "AdblockPlus.dll"
            VALUE "ProductName", "Adblock Plus"
            VALUE "ProductVersion", VERSIONINFO_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON_DEACTIVATED    ICON                    "..\\res\\deactivated.ico"
IDI_ICON_ENABLED        ICON                    "..\\res\\blocking.ico"
IDI_ICON_DISABLED       ICON                    "..\\res\\not-blocking.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//
IDR_MENU1 MENU
BEGIN
    POPUP "Popup"
    BEGIN
        MENUITEM "Check for updates",                     ID_MENU_UPDATE
        MENUITEM "Settings",                              ID_MENU_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Disable everywhere",                    ID_MENU_DISABLE
        MENUITEM "Disable on ?1?",                        ID_MENU_DISABLE_ON_SITE
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_PROJNAME            "Adblock Plus"
END

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//
#ifdef _WIN64
1 TYPELIB "../../build/x64/AdblockPlus.tlb"
#else
1 TYPELIB "../../build/ia32/AdblockPlus.tlb"
#endif

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
