/*
 * This file is part of Adblock Plus <https://adblockplus.org/>,
 * Copyright (C) 2006-2015 Eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "../shared/Version.h"
#include "winres.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSIONINFO_VERSION
 PRODUCTVERSION VERSIONINFO_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Eyeo GmbH"
            VALUE "FileDescription", "Adblock Plus Engine"
            VALUE "FileVersion", VERSIONINFO_VERSION_STR
            VALUE "InternalName", "Adblock Plus Engine"
            VALUE "LegalCopyright", "Copyright 2013"
            VALUE "OriginalFilename", "AdblockPlusEngine.exe"
            VALUE "ProductName", "Adblock Plus"
            VALUE "ProductVersion", VERSIONINFO_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
