html, body
{
  height: 100%;
}

html
{
  font-family: Arial, Sans-serif;
  font-size: 14px;
  background-color: white;
  background-image: url(../img/background.png);
  background-position: bottom;
  _overflow-x: hidden;
}

body
{
  position: absolute;
  right: 50%;
  margin: 0px;
  margin-right: -360px;
  width: 720px;
  line-height: 1.4;
  background: transparent;
}

img
{
  border: none;
}

#wrapper
{
  min-height: 100%;
}

header
{
  padding: 20px 0px;
  text-align: center;
  vertical-align: middle;
}

#logo
{
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url(../img/abp-128.png);
  width: 128px;
  height: 128px;
}

#title
{
  display: inline;
  position: relative;
  top: -40px;
  font-weight: normal;
  font-size: 40px;
  margin: 0px 10px;
  vertical-align: bottom;
}

#features
{
  display: block;
  border-spacing: 10px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px;
  white-space: nowrap;
}

.feature
{
  display: block;
  list-style-type: none;
  padding-bottom: 20px;
}

.feature-image, .feature-description
{
  display: inline-block;
  *display: inline; /* IE6 inline-block fix */
  *zoom: 1;
  vertical-align: top;
}

.feature-description
{
  width: 550px;
  margin: 0px 10px;
}

.feature-title
{
  color: black;
  font-weight: bold;
  font-size: 120%;
}

.feature-text
{
  margin: 7px 0px;
  white-space: normal;
}

.feature-image
{
  width: 57px;
  height: 57px;
}

#feature-language
{
  background-image: url(../img/features/language.png);
}

#feature-exceptions
{
  background-image: url(../img/features/adblocking.png);
}

.feature button
{
  cursor: pointer;
  position: relative;
  top: 0px;
  padding: 5px 10px;
  *padding: 2px 3px;
  font-weight: none;
  font-size: inherit;
  color: white;
  text-shadow: 2px 2px 2px #327d14;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #486c15, 0 2px 0 0 #517422;
  background-color: #62c52b;
  background-image: url(../img/button-background/enable.png);
  background: -ms-linear-gradient(top, #62c52b, #4f9d22);
  background: linear-gradient(top, #62c52b, #4f9d22);
  -ms-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.feature button:hover
{
  box-shadow: 0px 2px 7px #486c15, 0 1px 0 0 #486c15;
}

.feature button:active,
.feature button.Active
{
  top: 3px;
  box-shadow: 0px 0px 7px #486c15;
  background-color: #4f9d22;
  background-image: url(../img/button-background/enable_active.png);
  background: -ms-linear-gradient(bottom, #62c52b, #4f9d22);
  background: linear-gradient(bottom, #62c52b, #4f9d22);
  -ms-transition: none;
  transition: none;
  *zoom: 1;
}

.feature button.disable
{
  text-shadow: 2px 2px 2px #9d4f22;
  box-shadow: 0 1px 0 0 #9d4f22, 0 2px 0 0 #999;
  background-color: #c5622b;
  background-image: url(../img/button-background/disable.png);
  background: -ms-linear-gradient(top, #c5622b, #9d4f22);
  background: linear-gradient(top, #c5622b, #9d4f22);
}

.feature button.disable:hover
{
  box-shadow: 0px 2px 7px #9d4f22, 0 1px 0 0 #9d4f22;
}

.feature button.disable:active,
.feature button.disableActive
{
  top: 3px;
  box-shadow: 0px 0px 7px #9d4f22;
  background-color: #9d4f22;
  background-image: url(../img/button-background/disable_active.png);
  background: -ms-linear-gradient(bottom, #c5622b, #9d4f22);
  background: linear-gradient(bottom, #c5622b, #9d4f22);
  -ms-transition: none;
  transition: none;
  *zoom: 1;
}

#removeDomains
{
  width: 220px;
}

#exceptions
{
  display: none;
}

#exceptions.visible
{
  display: block;
}

#exceptions .row
{
  display: block;
}

#exceptions input
{
  height: 24px;
}

#exceptions select, #exceptions input
{
  width: 100%;
  border: 1px solid #aaa;
  background-color: white;
}

#exceptions input, #exceptions select, #exceptions button
{
  max-width: 220px;
  *width: expression(this.scrollWidth > 220 ? "220px" : "none"); /* IE6 max-width fix */
  margin: 2px;
}

footer
{
  position: relative;
  display: block;
  left: 0px;
  right: auto;
  bottom: 0px;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  padding: 0px;
  text-align: center;
  font-size: 100%;
  overflow: hidden;
  _overflow: visible;
  clear: both;
}

#social h1
{
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  color: #666;
  -ms-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 1;
  filter: alpha(opacity=100);
  *zoom: 1;
}

#social:hover h1,
#social.Hover h1
{
  opacity: 0;
  filter: alpha(opacity=0);
}

#social ul
{
  list-style: none;
  display: inline-block;
  *display: inline; /* IE6 inline-block fix */
  *zoom: 1;
  padding: 0px;
  margin: 0px;
}

#social ul:hover li,
#social ul.Hover li
{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#social ul li
{
  display: inline-block;
  position: relative;
  *display: inline; /* IE6 inline-block fix */
  *zoom: 1;
  margin: 0px 5px;
  -ms-transition: opacity .5s ease, bottom .3s ease;
  transition: opacity .5s ease, bottom .3s ease;
}

#social ul li:hover,
#social ul li.Hover
{
  top: -30px;
  opacity: 1;
  filter: alpha(opacity=100);
}
