html, body
{
  height: 100%;
}

html
{
  height: 100%;
  font-family: Arial, Sans-serif;
  font-size: 14px;
  color: #3b434a;
  background-color: #fdecce;
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
  background-position: bottom;
  _overflow-x: hidden;
}

body
{
  position: absolute;
  right: 50%;
  margin: 0px;
  margin-right: -360px;
  height: 100%;
  width: 720px;
  background: transparent;
}

img
{
  border: none;
}

#wrapper
{
  min-height: 100%;
}

header
{
  margin: 20px 0px;
  text-align: center;
  vertical-align: middle;
}

#logo
{
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url(../img/avast-logo.png);
  width: 230px;
  height: 85px;
}

#title
{
  display: inline;
  position: relative;
  top: -32px;
  font-weight: normal;
  font-size: 280%;
  margin: 0px 10px;
}

#features
{
  display: block;
  border-spacing: 10px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 70px;
  white-space: nowrap;
}

.feature
{
  display: block;
  list-style-type: none;
  padding-bottom: 20px;
}

.feature-image, .feature-description
{
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

.feature-description
{
  width: 550px;
  margin: 0px 10px;
}

.feature-title
{
  color: black;
  font-weight: bold;
  font-size: 120%;
}

.feature-text
{
  margin: 7px 0px;
  white-space: normal;
}

.feature-image
{
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
}

#feature-language
{
  background-image: url(../img/features/language.png);
}

#feature-exceptions
{
  background-image: url(../img/features/whitelist.png);
}

#feature-acceptable
{
  background-image: url(../img/features/acceptable.png);
}

.feature-button
{
  cursor: pointer;
  font-size: inherit;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px #00bfde, 0px 0px 0px 2px #005773;
  padding: 5px 10px;
  background-color: #0090c6;
}

.feature-button:hover
{
  box-shadow: 0px 0px 0px 2px #00bfde;
}

.feature-button:active
{
  background-color: #00b0e6;
  box-shadow: 0px 0px 0px 2px #00bfde;
}

#exceptions
{
  display: none;
}

#exceptions.visible
{
  display: block;
}

#exceptions .row
{
  display: block;
}

#exceptions input
{
  height: 24px;
}

#exceptions select, #exceptions input
{
  width: 100%;
  border: 1px solid #aaa;
  background-color: white;
}

#exceptions input, #exceptions select, #exceptions button
{
  max-width: 220px;
  *width: expression(this.scrollWidth > 220 ? "220px" : "none"); /* IE6 max-width fix */
  margin: 2px;
}

.extra-wide
{
  width: 220px;
}

footer
{
  position: relative;
  display: block;
  left: 0px;
  right: auto;
  bottom: 0px;
  width: 100%;
  height: 70px;
  margin-top: -70px;
  padding: 0px;
  text-align: center;
  font-size: 100%;
  clear: both;
}

footer a:link, footer a:visited
{
  color: #3b434a;
  text-decoration: none;
}

#abp-name
{
  font-weight: bold;
}
